<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <clear/>

    <!--SQL Server-->
    <add name="master" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

    <add name="SqlServerTest.DomainFrameworkOneToManyTest.ConnectionString" 
         connectionString="Data Source=.;Initial Catalog=DomainFrameworkOneToManyTest;Integrated Security=SSPI;" 
         providerName="System.Data.SqlClient"/>

    <add name="SqlServerTest.DomainFrameworkOneToOneTest.ConnectionString"
         connectionString="Data Source=.;Initial Catalog=DomainFrameworkOneToOneTest;Integrated Security=SSPI;"
         providerName="System.Data.SqlClient"/>

    <add name="SqlServerTest.DomainFrameworkManyToManyTest.ConnectionString"
         connectionString="Data Source=.;Initial Catalog=DomainFrameworkManyToManyTest;Integrated Security=SSPI;"
         providerName="System.Data.SqlClient"/>

    <add name="SqlServerTest.DomainFrameworkInheritanceOneLevelTest.ConnectionString"
         connectionString="Data Source=.;Initial Catalog=DomainFrameworkInheritanceOneLevelTest;Integrated Security=SSPI;"
         providerName="System.Data.SqlClient"/>

  </connectionStrings>
  
</configuration>